<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Submitt Game</title>
</head>
<body>
  <form action="/games" method="POST">
    <label for="game_name"></label>
    <input name="game_name" type="text">
  </form>
</body>
</html>